.parpjiu-background {
  background-image: url('sprite.png');
}

.parpjiu-sprite-png {
  width: 1028px;
  height: 370px;
  background-size: 173.73540856031127% 118.91891891891892%;
  background-position: 1.3192612137203166% 14.285714285714286%;
}

.parpjiu-240x320-jpg {
  width: 240px;
  height: 320px;
  background-size: 744.1666666666666% 137.5%;
  background-position: 69.08150064683053% 8.333333333333334%;
}

.parpjiu-728x90-png {
  width: 728px;
  height: 90px;
  background-size: 245.32967032967034% 488.8888888888889%;
  background-position: 100% 100%;
}

.parpjiu-32x32-png {
  width: 32px;
  height: 32px;
  background-size: 5581.25% 1375%;
  background-position: 75.7126567844926% 2.450980392156863%;
}

